<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RYDE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="css/footer.css">
</head>

<style>
    .featurette-heading{
        margin-top: 0.5rem !important;
    }
</style>
<body>
    <header>
        <%- include('navbar')  %> 
    </header>
    <br>
        <br>
        <br><br>
    <div class="container marketing text-center">

        <div class="container text-center">
        <div style="background-color: white;"
            class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg justify-content-center">
            <div class="row featurette text-center">
                <div class="justify-content-center text-center">
                    <img src="images/booked.gif" class="featurette-image img-fluid mx-auto" width="300"
                    height="300" alt="GIF">
                    <h2 class="featurette-heading text-center">Your RYDE is<span class="text-muted"> Booked!</h2></span>
                    </h2>
                    <p class="lead text-center">Thank you for booking with RYDE! You will receive an email confirmation shortly.</p>
                    <a href="/"><button type="button" class="btn explore-btn text-center"><- Go home</button></a>
                </div>
                
            </div>
        </div>
    </div>
    </div><!-- /.container -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include("footer") %> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
</body>

</html>
