<footer class="container-fluid bg-grey py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 ">
                        <div class="logo-part">
                            <img src="/images/ryde_white.png" class="w-50 logo-footer">
                            <p>© AMU || All rights reserved</p>
                            <p>Use this tool as test data for an automated system or find your next pen</p>
                        </div>
                    </div>
                    <div class="col-md-6 px-4">
                        <h6> About Ryde</h6>
                        <p>Ryde is a peer to peer car rental service that is re-shaping the future of
                            car renting in India. 
                        </p>
                        <a href="#" class="btn-footer"> More Info </a><br>
                        <a href="/signInUp" class="btn-footer"> Get Started </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 px-4">
                        <h6>Quick links</h6>
                        <div class="row ">
                            <div class="col-md-6">
                                <ul>
                                    <li> <a href="#"> Home</a> </li>
                                    <li> <a href="#"> About</a> </li>
                                    <li> <a href="#"> Service</a> </li>
                                    <li> <a href="#"> Team</a> </li>
                                    <li> <a href="#"> Help</a> </li>
                                    <li> <a href="#"> Contact</a> </li>
                                </ul>
                            </div>
                            <div class="col-md-6 px-4">
                                <ul>
                                    <li> <a href="#"> Cab Faciliy</a> </li>
                                    <li> <a href="#"> Fax</a> </li>
                                    <li> <a href="#"> Terms</a> </li>
                                    <li> <a href="#"> Policy</a> </li>
                                    <li> <a href="#"> Refunds</a> </li>
                                    <li> <a href="#"> Paypal</a> </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <h6> Newsletter</h6>
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                        <form class="form-footer my-3">
                            <input type="text" placeholder="search here...." name="search">
                            <input type="button" value="Go">
                        </form>
                        <p>That's technology limitation of LCD monitors</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="back-to-top" class="back-to-top">
        <button onclick="topFunction()" id="but" class="btn btn-dark" title="Back to Top"
            style="display: block;">
            <i class="fa fa-angle-up"></i>
        </button>
    </div>
    <!-- End Back to top -->
</footer>

<script>
    mybutton = document.getElementById("but");

window.onscroll = function () { scrollFunction() };
function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
    } else {
        mybutton.style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0; // For Safari
    document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
}
</script>