<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/learnMore.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <title>Learn More</title>
    <style>
      .sun {
        color: green;
      }

      .bg-primary {
        background-color: #333 !important;
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .pb-5,
      .py-5 {
        padding-bottom: 0rem !important;
      }

      .pt-5,
      .py-5 {
        padding-top: 1rem !important;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
    <a style="color: #ffd93b;" class="navbar-brand" href="/">RYDE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Booking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sign in / Sign up</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="px-4 pt-5 my-5 text-center ">
    <h1 class="display-4 fw-bold">Learn more about <span style="color: #ffd93b;">RYDE</span></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Wish to rent your lazy car and make good money?
        Or do you just want to break off from reality and go for a long drive
        in a car of your choice. Its all just a click away!
      </p>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
      <div class="container px-5">
        <img
          src="https://images.unsplash.com/photo-1532876443100-8b02d4490723?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8eWVsbG93JTIwY2FyfGVufDB8MHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=60"
          class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
      </div>
    </div>
  </div>

  <hr class="f">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Rent a <span style="color: #ffd93b;">Ryde</span></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Maybe you are planning a family trip and need a caravan, a dusty road
        busting in the sand in an SUV or just a pick-up drop in a wide sedan . We have it all here. Choose
        from our wide range of categories.
      </p>
    </div>
  </div>

  <div class="container py-5" id="featured-3">
    <div class="row g-5 py-5">
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="bi-search" style="font-size: 2rem;"></i>
        </div>
        <h2>Find the perfect Ryde</h2>
        <p>Choose from our various car categories and find
          the ryde best suited for your occassion.</p>
      </div>
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="bi-credit-card" style="font-size: 2rem;"></i>
        </div>
        <h2>Book your Ryde</h2>
        <p>Once you've found the perfect car you need , go ahead
          and book it for the needed time slot and proceed with payment.
          Next, get in touch with the car owner.</p>
      </div>
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="fas fa-car-side" style="font-size: 2rem;"></i>
        </div>
        <h2>Hit the road</h2>
        <p>Fix the pickup spot with the car owner. Now that you've
          got the keys for your ryde, hit the road and enjoy! </p>
      </div>
    </div>
  </div>
  <hr class="f">

  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img
          src="https://images.unsplash.com/photo-1602452509561-ff97265d770d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80"
          class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">List a <span style="color: #ffd93b;">Ryde</span></h1>
        <p class="lead mb-4">Is your car getting rusty in your garage? Rent it on Ryde for
          someone to drive it and let it make money for you!
        </p>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container py-5" id="featured-3">
    <div class="row g-5 py-5">
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="bi-clipboard-check" style="font-size: 2rem;"></i>
        </div>
        <h2>List your Ryde</h2>
        <p>Take pictures of your car and know the specs about your car.
          Then, accurately fill the detail's form.
        </p>
      </div>
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="bi-card-checklist" style="font-size: 2rem;"></i>
        </div>
        <h2>List your price and rules</h2>
        <p>When it comes to setting a price for the car, keep in mind
          to not overstate the price per day. Setting a reasonable rate/day
          maximizes the chances of your car being rented. Set down rules and other
          descriptions that you're particular about.
        </p>
      </div>
      <div class="feature col-md-4">
        <div class="feature-icon bg-primary bg-gradient">
          <i class="bi-cash-stack" style="font-size: 2rem;"></i>
        </div>
        <h2>Relax while you earn</h2>
        <p>Once your ryde is booked, discuss the pickup spot
          with the guest. Hand your keys over, sit back and relax while
          your car works for you.</p>
      </div>
    </div>
  </div>
  <hr class="f">

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Price <span style="color: #ffd93b;">Estimator</span></h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Stating a realistic price for your car is the most essential part
        of earning a good revenue from your ryde. Use our price estimator to help you have a
        fair idea of how much rent/hour you should charge based on the market value of your car.
      </p>
    </div>
    <form autocomplete="off" novalidate>
      <div class="row justify-content-center ">
        <div class="col col-lg-4">
          <label for="val">Market Value of the car</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">Rs.</div>
            </div>
            <input type="number" class="form-control" id="val" name="val" required>
          </div>
        </div>
      </div>
      <div id="result">
        <br><br>
        <img class='img-fluid' src='/images/range.png'>
        <div class="row justify-content-center">
          <div style="font-size: 1.5rem; padding-right: 10rem !important ;" id="lowrange"></div>
          <div style="font-size: 1.5rem; padding-left: 10rem !important;" id="uprange"></div>
        </div>

      </div>
      <br>
      <div class="row justify-content-center">
        <button onclick="calculate()" class="btn btn-outline-warning btn-lg" id="cal" type="button">Calculate</button>
      </div>
    </form>


  </div>

  <hr class="f">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-title">FAQs</h1>
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="clearfix mb-0">
                <a class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                  aria-controls="collapseOne"><i class="fa fa-chevron-circle-down"></i> If my car faces issues after
                  someone drives it,
                  will they pay for it?</a>
              </h2>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">Ryde takes a security deposit from everyone who rents the car.
                If the car gets damaged by the person who rented it by any means, the repairs will be paid for using the security deposit.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                  aria-expanded="false" aria-controls="collapseTwo"><i class="fa fa-chevron-circle-down"></i>
                  Do you need to submit any kinds of document for renting a car?</a>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">It is mandatory to submit a copy of the driver's license and aadhar card before
                renting a vehicle. This ensures that anyone renting the car is of legal age & is eligible to drive a
                vehicle.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                  aria-expanded="false" aria-controls="collapseThree"><i class="fa fa-chevron-circle-down"></i>
                  If i die because of the rented car, will Ryde take responsibilty ?</a>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">Ryde only covers insurance for the car. Any casulty caused because of the car is on 
                the manufacturer or on the host.</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-chevron-circle-down"></i>
                  Is there a limit as to how many kms I can drive the car for?</a>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">The rent is charged at an hourly rate. In the booked time duration, you can drive
                the vehicle for as long as you like .</div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <a class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
                  aria-expanded="false" aria-controls="collapseFour"><i class="fa fa-chevron-circle-down"></i>
                  How is the amount to be payed calculated? Will I be charged for the distance or for the time?</a>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">The hourly rent charge is completely upto the host of the car.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
  <script>

    $(document).ready(function () {
      $("#result").hide();
      $("#cal").click(function () {
        $("#result").show();
      });
      $(".collapse.show").each(function () {
        $(this).prev(".card-header").addClass("highlight");
      });
      $(".card-header .btn").click(function () {
        $(".card-header").not($(this).parents()).removeClass("highlight");
        $(this).parents(".card-header").toggleClass("highlight");
      });
    });

    function calculate() {
      var val = document.getElementById("val").value;
      var x = document.getElementById("uprange");
      var y = document.getElementById("uprange");
      console.log(val);
      x.innerHTML = '';
      y.innerHTML = '';
      uprange = (0.0136 / 100) * val;
      lowrange = (0.0122 / 100) * val;
      // document.getElementById("result").innerHTML = "<div style='position:relative; width: 100vw;'><img class='row' style='allign:centre;' src='/images/range.png'><div style='position:absolute; left : 0 ;'>" + price + "</div><div style='position: absolute; right : 0 ;'>" + price + "</div></div>";
      document.getElementById("uprange").innerHTML = "Rs. " + Number(uprange).toFixed(2) + "/hr";
      document.getElementById("lowrange").innerHTML = "Rs. " + Number(lowrange).toFixed(2) + "/hr";

    }
  </script>
  </body>

</html>