<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RYDE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/list.css">
</head>


<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100">
            <a class="navbar-brand" href="/">RYDE</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Booking</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign in / Sign up</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <div class="py-5 text-center">
            <!-- <img class="d-block mx-auto mb-4" src="/docs/4.6/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
            <h1 class="display-4">List a <span class="yellow-text display-4">Ryde.</span></h1>
            <p class="lead">Enter the following details about your ryde and sit back while it works for you.</p>
        </div>
        <hr class="mb-4">
        <div class="col-md-12 order-md-1">
            <form class="needs-validation" novalidate action="/list" method="post" enctype="multipart/form-data" autocomplete="off">
                <h5 class="yellow-text">Your Ryde</h5>
                <span class="text-muted">Where is the car located?</span>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="address">Address</label>
                        <input type="text" class="form-control" id="address" placeholder="" value="" name="address" required>
                        <div class="invalid-feedback">
                            Valid address is required.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" placeholder="" value="" name="city" required>
                        <div class="invalid-feedback">
                            Valid city is required.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" placeholder="" value="" name="state" required>
                        <div class="invalid-feedback">
                            Valid state is required.
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="zip">Zip</label>
                        <input type="text" class="form-control" id="zip" placeholder="" value="" name="zip" required>
                        <div class="invalid-feedback">
                            Zip code is required.
                        </div>
                    </div>
                </div>
                <span class="text-muted">What car do you have?</span>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="year">Year</label>
                        <input type="number" class="form-control" id="year" placeholder="" name="year" value="" required min="1981"
                            max="2021">
                        <div class="invalid-feedback">
                            Year is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="category">Car Category</label>
                        <input type="text" class="form-control" id="category" name="category" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Car Category is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="make">Make</label>
                        <input type="text" class="form-control" id="make" name="make" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Make of car is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="model">Model</label>
                        <input type="text" class="form-control" id="model" name="model" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Model is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="kmpl">KM/L</label>
                        <input type="text" class="form-control" id="kmpl" name="kmpl" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            KM/L is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="doors">Number of Doors</label>
                        <input type="number" class="form-control" id="doors" name="doors" placeholder="" value="" required min="1"
                            max="5">
                        <div class="invalid-feedback">
                            Number of doors is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="seats">Number of Seats</label>
                        <input type="number" class="form-control" id="seats" name="seats" placeholder="" value="" required min="1" max="10">
                        <div class="invalid-feedback">
                            Number of Seats is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="fuel">Fuel Type</label>
                        <input type="text" class="form-control" id="fuel" name="fuel" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            Fuel type is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="transmission">Transmission</label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="transmission" id="transmission1"
                                value="automatic" checked>
                            <label class="form-check-label" for="transmission1">
                                Automatic
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="transmission" id="transmission2"
                                value="manual">
                            <label class="form-check-label" for="transmission2">
                                Manual
                            </label>
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <h5 class="yellow-text">Ryde Details</h5>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="price">Price of car <span class="text-muted">(in rupees)</span></label>
                        <br>
                        <input type="number" class="form-control" id="price" name="price" placeholder="" value="" required min="1">
                        <div class="invalid-feedback">
                            Price is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="description">Car description</label>
                        <br>
                        <textarea name="description" id="carDescription" name="carDescription" cols="60" rows="5"
                            placeholder="A good detailed description will get you more trips." required></textarea>
                        <div class="invalid-feedback">
                            Description is required.
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="description">Car features</label>
                        <br>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="bluetooth" name="bluetooth" value="bluetooth">
                            <label class="form-check-label" for="bluetooth">Bluetooth</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="airConditioner" name="airConditioner" value="airConditioner">
                            <label class="form-check-label" for="airConditioner">Air-Conditioner</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="carplayAndroidAuto" name="carplayAndroidAuto" value="carplayAndroidAuto">
                            <label class="form-check-label" for="carplayAndroidAuto">Carplay / Android Auto</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="backupCamera" name="backupCamera" value="backupCamera">
                            <label class="form-check-label" for="backupCamera">Backup Camera</label>
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <!-- <div class="col-md-4 custom-file">
                    <input type="file" class="custom-file-input" id="license"  accept="image/*" name="license">
                    <label class="custom-file-label" for="customFile">Driver's License</label>
                </div>
                <br><br> -->
                <div class="col-md-4 custom-file">
                    <input type="file" class="custom-file-input" id="rydePaps" accept="image/*" name="rydePaps" multiple>
                    <label class="custom-file-label" for="rydePaps">Pictures of Ryde</label>
                </div>
                
                <hr class="mb-4">
                <button class="btn btn-outline-warning btn-lg" type="submit">Finish</button>
            </form>
        </div>
    </div>



    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBqc9G9Zn_M12fEO8a0y6F5gWZX2GW-wY0&libraries=places"></script>
        
            <input type="text" id="autocomplete" />
        
            <script>
                var input = document.getElementById('autocomplete');
                var autocomplete = new google.maps.places.Autocomplete(input);
            </script> -->

    <footer class="blog-footer">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2018-2021 AMU, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>

</html>