input:active{
    border-color: #ffd93b;
  }
  .nav-link{
    color:black;
  }
  .nav-link:hover{
    color:#ffd93b;
  }
  .btn-outline-warning{
    border-color: #ffd93b;
    color: #ffd93b;
  }
  
  .btn-outline-warning:hover{
    background-color: #ffd93b;
    color: white;
    border-color: white;
  }
  
  .btn-warning{
    background-color: #ffd93b;
    color: white;
    border-color: white;
  }
  
  .btn-warning:hover{
    background-color: #f1c100;
    border-color: white;
  }
  .btn-warning::after {
    background-color: #f1c100;
    border-color: white;
  }
