

body{
/* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1420' height='560' preserveAspectRatio='none' viewBox='0 0 1420 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1070%26quot%3b)' fill='none'%3e%3crect width='1420' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M420 114.72C406.47 114.72 395.18 122.94 393.62 140C387.61 205.58 424.83 217.1 404.86 280C380.38 357.1 300.27 367.71 304.71 420C307.84 456.92 363.02 458.43 420 458.43C467.33 458.43 509.88 454.63 513.33 420C518.77 365.42 454.77 354.35 437.78 280C422.78 214.35 456.32 204.78 449.35 140C447.43 122.14 434.34 114.72 420 114.72' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1120 120.69C1107.6 120.69 1097.6 130.86 1097.6 140C1097.6 148.51 1107.89 156 1120 156C1138.4 156 1158.62 148.68 1158.62 140C1158.62 131.03 1138.11 120.69 1120 120.69' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1260 273.64C1258.66 273.64 1257.78 276.78 1257.78 280C1257.78 284.08 1258.64 288.24 1260 288.24C1261.42 288.24 1263.33 284.04 1263.33 280C1263.33 276.74 1261.43 273.64 1260 273.64' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 370.42C116.38 370.42 108.27 397.39 108.27 420C108.27 436.34 120.55 448.33 140 448.33C195.92 448.33 259 438.97 259 420C259 400.01 191.74 370.42 140 370.42' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 369.69C1363.68 369.69 1317.44 387.83 1317.44 420C1317.44 463.3 1367.22 520.63 1400 520.63C1427 520.63 1437.01 467.69 1437.01 420C1437.01 392.22 1423.46 369.69 1400 369.69' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1431.38 140C1476.97 95.71 1505.17 66.74 1540 66.74C1559.48 66.74 1540 103.37 1540 140C1540 210 1540 210 1540 280C1540 350 1540 350 1540 420C1540 490 1560.26 510.26 1540 560C1531.74 580.26 1492.04 580.25 1482.96 560C1460.66 510.25 1498.73 483.46 1477.24 420C1457.25 360.96 1443.83 362 1400 315C1378.55 292 1346.67 302.71 1346.67 280C1346.67 246.59 1375.76 242.82 1400 202.76C1418.12 172.82 1406.97 163.72 1431.38 140' stroke='rgba(255%2c 217%2c 75%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 280C16.08 280 61.6 355.78 61.6 420C61.6 456.58 18.04 481.6 0 481.6C-12.76 481.6 0 450.8 0 420C0 350 -14.72 280 0 280' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M70 560C70 539.5 96.63 507.35 140 490C201.63 465.35 212.01 467 280 476C352.01 485.53 353.22 495.9 420 527.06C443.22 537.9 460 550.71 460 560C460 567.18 440 560 420 560C350 560 350 560 280 560C210 560 210 560 140 560C105 560 70 574.5 70 560' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1208.42 560C1208.42 531.93 1231.87 474.78 1260 474.78C1290.32 474.78 1325.33 533.51 1325.33 560C1325.33 576.12 1292.66 560 1260 560C1234.21 560 1208.42 574.54 1208.42 560' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 56.67C78.2 76.74 48.54 81.57 0 61.92C-21.46 53.24 -21.47 9.49 0 0C48.53 -21.47 70 0 140 0C165.32 0 190.64 -11.33 190.64 0C190.64 17 173.52 45.78 140 56.67' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M252.9 140C259.24 123.82 268.69 116.67 280 116.67C288.32 116.67 289.79 127.17 292.17 140C304.93 208.83 314.84 214.04 310.27 280C308.76 301.82 298.36 315.56 280 315.56C251.22 315.56 220.55 309.48 216 280C207 221.7 227.24 205.49 252.9 140' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M420 17.5C403.6 17.5 387.69 4.66 387.69 0C387.69 -4.09 403.85 0 420 0C438.53 0 457.06 -4.16 457.06 0C457.06 4.59 438.29 17.5 420 17.5' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M595 140C645.02 128.66 648.17 131.6 700 131.6C710.67 131.6 710.74 134.39 720 140C780.74 176.77 775.51 188.58 840 216.36C905.51 244.58 908.92 241.94 980 252C1048.92 261.76 1053.66 244.86 1120 256C1136.99 258.86 1146.67 267.32 1146.67 280C1146.67 294.05 1138.3 308.33 1120 309.47C1054.96 313.52 1049.9 289.66 980 290.37C909.9 291.08 901.04 282.2 840 312.31C769.64 347.02 762.19 356.75 717.19 420C692.19 455.14 709.17 509.09 700 509.09C690.78 509.09 704.49 456.91 680.4 420C634.49 349.65 619.48 357.9 560 294.58C553.73 287.9 548.89 288.88 548.89 280C548.89 223.25 543.03 214.84 560 163.33C566.09 144.84 575.02 144.53 595 140' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M980 77.78C953.78 77.78 962.28 31.82 962.28 0C962.28 -7.07 971.14 0 980 0C1050 0 1120 -18.14 1120 0C1120 20.75 1032.64 77.78 980 77.78' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1491.72 140C1491.72 117.02 1524.52 107.44 1540 107.44C1548.66 107.44 1540 123.72 1540 140C1540 191.85 1551.48 243.7 1540 243.7C1527.34 243.7 1491.72 185.15 1491.72 140' stroke='rgba(255%2c 217%2c 75%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 386.06C3.9 386.06 14.93 404.43 14.93 420C14.93 428.87 4.37 434.93 0 434.93C-3.09 434.93 0 427.47 0 420C0 403.03 -3.57 386.06 0 386.06' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1517.47 420C1517.47 373.75 1534.29 326.67 1540 326.67C1545.55 326.67 1540 373.34 1540 420C1540 455 1545.49 490 1540 490C1534.23 490 1517.47 455.42 1517.47 420' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M111.67 560C111.67 551.7 121.3 533.93 140 531.67C205.46 523.75 211.3 529.57 280 539.64C307.97 543.74 333.33 554.74 333.33 560C333.33 564.92 306.66 560 280 560C210 560 210 560 140 560C125.84 560 111.67 565.87 111.67 560' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1070'%3e%3crect width='1420' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");   
    background-attachment: fixed;
    background-size: cover; */
  color: #1a202c;
  text-align: left;
 
}
.history{
  margin-left : 15% !important;
  margin-right : 15% !important;
  align-items: center;
  padding-top: 1%;
}

.bi{
  vertical-align:0em !important;
}
.photo{
  width: 200px !important;
  height: 200px !important;
  object-fit: cover !important;
  vertical-align: middle !important ;
  align-self: center !important;
}
input:active{
  border-color: #ffd93b;
}
.nav-link{
  color:black;
}
.nav-link:hover{
  color:#ffd93b;
}
.btn-outline-warning{
  border-color: #ffd93b;
  color: #ffd93b;
}

.btn-outline-warning:hover{
  background-color: #ffd93b;
  color: white;
  border-color: white;
}

.btn-warning{
  background-color: #ffd93b;
  color: white;
  border-color: white;
}

.btn-warning:hover{
  background-color: #f1c100;
  border-color: white;
}
.btn-warning::after {
  background-color: #f1c100;
  border-color: white;
}

.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
a{
  all: unset;
}

/*
 Footer
 */
 .blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* stars */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  
}



.rating > input { display: none; } 
.rating > label:before { 
  
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}



.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 