

body{
  color: #1a202c;
  text-align: left;
 
 
}
.history{
  margin-left : 15% !important;
  margin-right : 15% !important;
  align-items: center;
  padding-top: 1%;
}


.photo{
  width: 200px !important;
  height: 200px !important;
  object-fit: cover !important;
  vertical-align: middle !important ;
  align-self: center !important;
}
input:active{
  border-color: #ffd93b;
}
.nav-link{
  color:black;
}
.nav-link:hover{
  color:#ffd93b;
}
.btn-outline-warning{
  border-color: #ffd93b;
  color: #ffd93b;
}

.btn-outline-warning:hover{
  background-color: #ffd93b;
  color: white;
  border-color: white;
}

.btn-warning{
  background-color: #ffd93b;
  color: white;
  border-color: white;
}

.btn-warning:hover{
  background-color: #f1c100;
  border-color: white;
}
.btn-warning::after {
  background-color: #f1c100;
  border-color: white;
}

.main-body {
  padding: 15px;
}
.card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.gutters-sm {
  margin-right: -8px;
  margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
  padding-right: 8px;
  padding-left: 8px;
}
.mb-3, .my-3 {
  margin-bottom: 1rem!important;
}

.bg-gray-300 {
  background-color: #e2e8f0;
}
.h-100 {
  height: 100%!important;
}
.shadow-none {
  box-shadow: none!important;
}
a{
  all: unset;
}

/*
 Footer
 */
 .blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/* stars */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }

h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  
}



.rating > input { display: none; } 
.rating > label:before { 
  
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}



.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 