body {
  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1420' height='560' preserveAspectRatio='none' viewBox='0 0 1420 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1041%26quot%3b)' fill='none'%3e%3crect width='1420' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M0 140C70 79.66 71.42 81.03 140 19.31C149.2 11.03 143.93 1.6 155.56 0C213.93 -8.05 217.78 0 280 0C333.34 0 343.46 -17.63 386.67 0C413.46 10.94 393.09 55.16 420 57.14C479.75 61.53 503.93 -7.29 560 12.73C619.98 34.14 603.01 79 652.11 140C673.01 165.97 673.54 166.39 700 186.67C764.89 236.39 810.13 218.29 834.81 280C856.79 334.95 796.26 349.31 793.33 420C790.46 489.31 848.28 522.38 823.2 560C801.62 592.38 761.6 560 700 560C630 560 630 560 560 560C490 560 490 560 420 560C365.73 560 347.07 585.43 311.46 560C277.07 535.43 297.15 460 280 460C262.5 460 277.96 534.43 242.16 560C207.96 584.43 191.08 560 140 560C92.75 560 88.74 571.36 45.5 560C18.74 552.97 8.23 548.55 0 523.23C-14.52 478.55 0 471.62 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 140 0 140 0 140' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M876 140C877.08 70.21 823.08 36.63 850.29 0C875.08 -33.37 915.14 0 980 0C1036.54 0 1064.15 -31.15 1093.08 0C1129.15 38.85 1097.96 71.44 1110 140C1111.42 148.1 1114.53 153.33 1120 153.33C1126.19 153.33 1126.46 146.45 1133.33 140C1196.46 80.68 1199.11 82.86 1260 21.78C1268.89 12.86 1261.27 1.81 1272.89 0C1331.27 -9.08 1336.45 0 1400 0C1470 0 1505 -35 1540 0C1575 35 1540 70 1540 140C1540 197.4 1552.17 203.43 1540 254.8C1535.59 273.43 1506.84 267.15 1506.84 280C1506.84 293.16 1535.46 287.66 1540 306.81C1552.04 357.66 1540 363.4 1540 420C1540 490 1572.98 543.83 1540 560C1502.98 578.15 1470 524.32 1400 488.63C1332.69 454.32 1299.37 474.14 1265.38 420C1233.88 369.82 1271.52 347.96 1269.03 280C1268.83 274.46 1264.29 273 1260 273C1256.28 273 1257.08 277.21 1253 280C1187.08 325.05 1191.44 335.03 1120 368.67C1054.94 399.31 1040.21 428.05 980 408.57C903.19 383.72 875.32 355.83 845.96 280C823.32 221.54 874.91 210.21 876 140' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 237.22C536.71 237.22 511.88 256.31 511.88 280C511.88 309.13 537.02 342.86 560 342.86C581.89 342.86 601.62 309.48 601.62 280C601.62 256.66 581.58 237.22 560 237.22' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 396.67C136.03 396.67 138.11 408.61 138.11 420C138.11 421.55 138.54 422.55 140 422.55C147.26 422.55 155.56 424.66 155.56 420C155.56 411.72 144.76 396.67 140 396.67' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M851.05 560C851.05 523.4 921.24 434.36 980 434.36C1030.26 434.36 1069.09 520.2 1069.09 560C1069.09 583.02 1024.55 560 980 560C915.52 560 851.05 586.22 851.05 560' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1253.33 560C1253.33 528.03 1257.03 490 1260 490C1262.96 490 1265.19 527.41 1265.19 560C1265.19 562.41 1262.6 560 1260 560C1256.66 560 1253.33 563.03 1253.33 560' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M70 140C70 107.61 108.16 112.89 140 79.66C175.24 42.89 163.97 22.87 204.17 0C233.97 -16.96 242.09 0 280 0C312.5 0 323.72 -19.54 345 0C393.72 44.75 366.35 109.52 420 128.57C473.85 147.7 499.03 72.61 560 76.36C592.05 78.33 606.05 109.7 606.05 140C606.05 165.83 584.37 165.69 560 188.61C509.94 235.69 457.19 229.39 457.19 280C457.19 342.23 500.42 361.77 560 414.29C579.83 431.77 616 415.44 616 420C616 424.66 574.92 411.79 560 432.73C525.04 481.79 557.06 522.9 516.25 560C487.06 586.53 468.13 560 420 560C385.39 560 361.24 583.14 350.79 560C329.63 513.14 359.97 489.72 356.77 420C353.54 349.72 362.51 342.18 337.93 280C324.13 245.08 315.76 237.05 280 225.81C216.79 205.94 200.13 242.35 140 217.78C95.13 199.45 70 176.67 70 140' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M926 140C921.3 69.51 884.35 45.14 901.76 0C911.35 -24.86 940.88 0 980 0C1014.11 0 1037.15 -22.93 1048.21 0C1070.9 47.07 1028.23 76.48 1047.5 140C1064.13 194.82 1081.18 190.62 1120 236.67C1140.18 260.62 1165.5 260.31 1165.5 280C1165.5 297.14 1145.72 302.41 1120 310.33C1052.97 330.98 1043.19 346.74 980 337.14C943.41 331.58 930.44 316.54 920.43 280C903.44 217.97 930.63 209.51 926 140' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1216.67 140C1216.67 119.14 1242.68 123.27 1260 99.56C1293.82 53.27 1277.79 29.27 1318.95 0C1347.79 -20.51 1359.47 0 1400 0C1456 0 1467.34 -18.2 1512 0C1537.34 10.32 1533.93 26.68 1540 57.04C1547.93 96.68 1540 98.52 1540 140C1540 162.4 1553.88 169.29 1540 184.8C1491.25 239.29 1451.68 217.93 1414.74 280C1381.68 335.53 1408.19 420 1400 420C1391.79 420 1415.39 336.02 1381.94 280C1345.39 218.77 1318.72 235.24 1260 185.5C1236.08 165.24 1216.67 162.11 1216.67 140' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M648.92 280C648.92 250.24 672.6 231.54 700 231.54C733.14 231.54 770 247.61 770 280C770 334.84 731.15 406 700 406C670.61 406 648.92 337.47 648.92 280' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 280C24.69 280 90.81 358.11 90.81 420C90.81 462.05 28.4 487.88 0 487.88C-17 487.88 0 453.94 0 420C0 350 -20.71 280 0 280' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 420C1400 398.55 1484.73 381.28 1540 381.28C1554.73 381.28 1540 400.64 1540 420C1540 443.94 1557.12 467.89 1540 467.89C1487.12 467.89 1400 441.85 1400 420' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M89.25 560C89.25 536.44 113.95 486.18 140 486.18C166.75 486.18 194.86 536.88 194.86 560C194.86 573.79 167.43 560 140 560C114.63 560 89.25 573.35 89.25 560' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M943.16 560C943.16 549.54 963.21 524.1 980 524.1C994.36 524.1 1005.45 548.63 1005.45 560C1005.45 566.58 992.72 560 980 560C961.58 560 943.16 567.49 943.16 560' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M280 98C267.3 98 252.78 38.66 252.78 0C252.78 -10.34 266.39 0 280 0C291.66 0 303.33 -9.21 303.33 0C303.33 39.79 292.58 98 280 98' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M976 140C965.57 69.87 951.56 58.89 953.24 0C953.56 -11.11 966.62 0 980 0C991.66 0 1002.98 -9.93 1003.33 0C1005.48 60.07 994.07 69.99 985 140C982.41 159.99 982.25 180 980 180C977.75 180 978.95 159.87 976 140' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 98.52C1379.67 98.52 1365 36.91 1365 0C1365 -12.35 1382.5 0 1400 0C1424.18 0 1448.36 -15.07 1448.36 0C1448.36 34.19 1421.35 98.52 1400 98.52' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M696.22 280C696.22 277.8 697.97 276.41 700 276.41C702.46 276.41 705.19 277.6 705.19 280C705.19 284.06 702.31 289.33 700 289.33C697.82 289.33 696.22 284.26 696.22 280' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 352.92C11.83 352.92 43.51 390.34 43.51 420C43.51 440.15 13.61 452.53 0 452.53C-8.15 452.53 0 436.26 0 420C0 386.46 -9.93 352.92 0 352.92' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M133 560C133 556.75 136.41 549.82 140 549.82C143.69 549.82 147.57 556.81 147.57 560C147.57 561.9 143.78 560 140 560C136.5 560 133 561.84 133 560' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M390.11 560C390.11 526.4 402.54 471.33 420 471.33C438.27 471.33 461.56 528.87 461.56 560C461.56 573.21 440.78 560 420 560C405.06 560 390.11 570.73 390.11 560' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1041'%3e%3crect width='1420' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");  */

  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1420' height='560' preserveAspectRatio='none' viewBox='0 0 1420 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1059%26quot%3b)' fill='none'%3e%3crect width='1420' height='560' x='0' y='0' fill='rgba(255%2c 255%2c 255%2c 1)'%3e%3c/rect%3e%3cpath d='M407.27 0C427.25 37.85 349.77 79.24 353.89 140C356.13 173.04 383.82 187.6 420 187.6C479.51 187.6 544.53 179.34 545.26 140C546.28 85.54 419.25 40.33 423.5 0C426.62 -29.67 491.75 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C907 0 911.14 -6.29 974 0C981.14 0.71 976.12 14 980 14C984.5 14 982.35 0.84 990.77 0C1052.35 -6.16 1055.39 0 1120 0C1166.66 0 1175.87 -17.74 1213.33 0C1245.87 15.42 1225.88 56.83 1260 66.32C1319.21 82.8 1335.64 72.82 1400 51.94C1437.84 39.66 1427.82 13.57 1464.4 0C1497.82 -12.4 1526.75 -24.55 1540 0C1564.55 45.45 1540 70 1540 140C1540 210 1540 210 1540 280C1540 319.38 1544.84 320.05 1540 358.75C1536.09 390.05 1522.5 391.56 1522.5 420C1522.5 431.26 1538.5 426.15 1540 438.15C1547.25 496.15 1571.94 531.02 1540 560C1504.8 591.94 1471.81 562.59 1405.71 560C1401.81 559.85 1403.2 554.51 1400 554.51C1395.51 554.51 1395.84 559.78 1390.34 560C1325.84 562.53 1325.17 560 1260 560C1190 560 1190 560 1120 560C1051.25 560 1050.93 560.95 982.5 560C980.93 559.98 981.55 558.06 980 558.06C966.3 558.06 966.03 559.81 952 560C896.03 560.78 896 560 840 560C770 560 770 560 700 560C630 560 630 560 560 560C505.78 560 501.7 570.42 451.55 560C431.7 555.88 436.68 530.91 420 530.91C400.54 530.91 402.73 555.12 379.27 560C332.73 569.67 329.63 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 350 0 350 0 280C0 210 0 210 0 140C0 70 -35 35 0 0C35 -35 70 0 140 0C210 0 210 0 280 0C343.63 0 390.3 -32.15 407.27 0' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M840 192.5C792.81 200.14 763.91 242.75 763.91 280C763.91 308.11 798.92 320.22 840 323.21C906.97 328.09 917.56 277.64 980 295.75C1057.56 318.25 1067.85 408.97 1120 404.44C1158.59 401.09 1161.48 335.17 1161.48 280C1161.48 258.95 1143.87 256.6 1120 252C1053.13 239.1 1047.74 259.4 980 245C907.74 229.65 900.85 182.64 840 192.5' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1400 256.17C1378.22 256.17 1358.52 268.91 1358.52 280C1358.52 290.65 1378.51 299.65 1400 299.65C1432.19 299.65 1465.88 290.77 1465.88 280C1465.88 269.03 1431.9 256.17 1400 256.17' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M140 389.43C117.82 392.96 104.05 404.96 104.05 420C104.05 434.7 118.24 446.6 140 448.91C206.21 455.94 214.26 451.13 280 438.67C290.53 436.67 292.54 429.87 292.54 420C292.54 406.54 293.71 394.75 280 392C217.44 379.46 205.8 378.96 140 389.43' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M43.92 140C40.32 101.39 11.89 107.9 0 70C-10.07 37.9 -15.56 19.44 0 0C12.44 -15.56 31.11 -10.13 56 0C101.11 18.35 98.19 28.19 140 56.95C199.95 98.19 224.77 83.37 259.51 140C293.18 194.89 305.45 229.88 276.82 280C245.7 334.48 204.24 308.33 140 349.2C94.21 378.33 56.76 385.17 56.76 420C56.76 454.05 92.28 466.35 140 486.96C203.9 514.57 216.97 490.23 280 516.44C304.79 526.75 315.64 546.66 315.64 560C315.64 568.44 297.82 560 280 560C210 560 210 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 363.25 -7.6 360.74 0 306.49C2.2 290.74 15.47 295.67 19.6 280C37.43 212.43 50.12 206.39 43.92 140' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M560 52.97C534.18 27.81 511 15.77 511 0C511 -10.71 535.5 0 560 0C630 0 630 0 700 0C770 0 770 0 840 0C882 0 898 -24.27 924 0C968 41.07 943.76 130.67 980 130.67C1022.02 130.67 1024.04 52.71 1080.51 0C1094.04 -12.63 1100.26 0 1120 0C1134.26 0 1141.99 -11.2 1148.52 0C1182.82 58.8 1210.76 87.59 1201.67 140C1196.5 169.84 1161.77 163.03 1120 164.5C1050.93 166.92 1049.54 158.21 980 147.78C967.87 145.96 968.6 142.96 956.67 140C898.6 125.61 897.28 113.08 840 113.08C805.61 113.08 798.74 116.48 773.33 140C728.74 181.27 731.39 242.67 700 242.67C672.08 242.67 687.33 184.19 654.71 140C617.33 89.34 606.03 97.81 560 52.97' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1296.84 140C1296.84 121.95 1354.32 135.31 1400 108.39C1473.1 65.31 1466.6 52.49 1534.4 0C1536.6 -1.7 1539.89 -2.69 1540 0C1542.69 67.31 1540 70 1540 140C1540 180.52 1565.05 213.59 1540 221.05C1495.05 234.44 1468.88 204.66 1400 181.7C1347.3 164.13 1296.84 158.61 1296.84 140' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M295.56 280C312.86 242.64 358.21 257.6 420 257.6C463.5 257.6 486.25 248.58 506.15 280C537.68 329.78 503.62 354.85 522.86 420C530.54 446.02 540.62 462.33 560 462.33C580.85 462.33 583.79 443.08 603.33 420C653.79 360.4 640.8 310.37 700 296.97C759.13 283.58 766.79 355.3 840 366.42C906.79 376.56 917.55 325.08 980 339.5C1033.55 351.87 1029.39 376.56 1072 420C1099.39 447.92 1091.86 482.22 1120 482.22C1156.84 482.22 1169.44 458.48 1201.95 420C1239.44 375.63 1215.76 329.69 1260 316.52C1314.78 300.21 1336.41 328.15 1400 361.05C1436.41 379.89 1460 389.69 1460 420C1460 452.11 1435.48 459.79 1400 485.88C1340.31 529.79 1335.42 525.18 1269.66 560C1265.42 562.24 1264.83 560 1260 560C1190 560 1190 560 1120 560C1082.5 560 1078.37 572.05 1045 560C1008.37 546.77 1017.94 519.9 980 509.44C915.44 491.63 903.09 487.61 840 503.46C802.47 512.89 814.74 545.46 778.75 560C744.74 573.73 739.38 560 700 560C630 560 630 560 560 560C530.42 560 525.33 573.04 500.85 560C455.33 535.76 460.93 522.16 420 485.45C382.89 452.16 369.78 461.28 344.78 420C307.56 358.56 275.25 323.84 295.56 280' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1477.14 560C1477.14 543.61 1521.2 502.96 1540 502.96C1552.63 502.96 1554.95 546.43 1540 560C1523.52 574.95 1477.14 572.13 1477.14 560' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M112.55 140C117.68 123.33 125.65 116.27 140 116.27C156.45 116.27 167.66 121.45 174.15 140C196.3 203.31 209.03 221.83 197.27 280C191.95 306.31 168.25 308.97 140 308.97C114.41 308.97 93.59 304.56 89.6 280C79.86 220.07 92.48 205.19 112.55 140' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M700 9.33C692.9 7.19 688.33 2.62 688.33 0C688.33 -2.05 694.16 0 700 0C770 0 770 0 840 0C857 0 874 -8.55 874 0C874 14.34 864.6 44.45 840 45.77C777.6 49.12 768.74 30.07 700 9.33' stroke='rgba(51%2c 51%2c 51%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M0 401.08C2.5 401.08 1.61 413.05 9.46 420C71.61 475.01 69.73 481.32 140 525C182.35 551.32 234.71 550.97 234.71 560C234.71 568.47 187.36 560 140 560C70 560 35 595 0 560C-35 525 0 490 0 420C0 410.54 -2.23 401.08 0 401.08' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M397.01 420C397.01 395.18 406.81 365 420 365C434.02 365 451.43 396.39 451.43 420C451.43 433.89 434.97 440 420 440C407.76 440 397.01 432.68 397.01 420' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M686.67 420C694.27 412.36 689.77 403.72 700 403.03C766.44 398.54 770.57 414.53 840 409.63C910.57 404.64 914.61 379.52 980 383.25C1005.61 384.71 1022 401.07 1022 420C1022 439.86 1006.55 458.47 980 460.83C915.55 466.55 900.01 414.44 840 436.15C762.92 464.03 773.66 499.99 705.83 560C703.66 561.92 702.91 560 700 560C630 560 630 560 560 560C555.07 560 550.14 562.78 550.14 560C550.14 554.64 553.37 550.51 560 543.72C621.64 480.51 624.27 482.7 686.67 420' stroke='rgba(255%2c 217%2c 59%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M1107.5 560C1107.5 556.18 1112.69 547.04 1120 547.04C1131.44 547.04 1145 556.57 1145 560C1145 563.05 1132.5 560 1120 560C1113.75 560 1107.5 562.66 1107.5 560' stroke='rgba(158%2c 158%2c 158%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1059'%3e%3crect width='1420' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");

  background-attachment: fixed;
  background-size: cover;
}
.f {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
  margin-top: 0;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.big-text {
  font-size: 3vh;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.navbar {
  position: absolute;
  z-index: 1;
}

/*Vertical Sliding*/
.video-container {
  justify-content: center;
  align-items: center;
  position: relative;
}

.sentence {
  color: white;
  font-size: 6vw;
}

.intro-text {
  /* justify-content: center;
  align-items: center; */
  position: absolute;
  top: 35%;
  right: 45%;
}

.slidingVertical {
  display: inline;
  text-indent: 8px;
}

.slidingVertical span {
  animation: topToBottom 12.5s linear infinite 0s;
  -ms-animation: topToBottom 12.5s linear infinite 0s;
  -webkit-animation: topToBottom 12.5s linear infinite 0s;
  color: #ffd93b;
  opacity: 0;
  overflow: hidden;
  position: absolute;
}

.slidingVertical span:nth-child(2) {
  animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.slidingVertical span:nth-child(3) {
  animation-delay: 5s;
  -ms-animation-delay: 5s;
  -webkit-animation-delay: 5s;
}

.slidingVertical span:nth-child(4) {
  animation-delay: 7.5s;
  -ms-animation-delay: 7.5s;
  -webkit-animation-delay: 7.5s;
}

.slidingVertical span:nth-child(5) {
  animation-delay: 10s;
  -ms-animation-delay: 10s;
  -webkit-animation-delay: 10s;
}

@-moz-keyframes topToBottom {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -moz-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -moz-transform: translateY(0px);
  }

  30% {
    opacity: 0;
    -moz-transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -webkit-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }

  30% {
    opacity: 0;
    -webkit-transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@-ms-keyframes topToBottom {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 0;
    -ms-transform: translateY(-50px);
  }

  10% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }

  25% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }

  30% {
    opacity: 0;
    -ms-transform: translateY(50px);
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

/*search box css start here*/
.search-sec {
  padding: 2rem;
}

.search-slt {
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
}

.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  background-color: #ffd93b;
}

.explore-btn {
  background-color: #ffd93b;
}

.radius-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.radius-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
}

.form-control input {
  margin-right: 10px;
}

/*carousel*/
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
    display: none;
  }

  .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */

@media (min-width: 768px) {
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }

  .carousel-inner .carousel-item-left.active,
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
  transform: translateX(0);
}

.carousel-control-prev-icon {
  filter: invert(100);
}

.carousel-control-next-icon {
  filter: invert(100);
}
